.food-menu {
    position: relative;

    .container {
        box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.16);
    }

    .item {
        h3 {
            color: #3d2514;
        }

        p {
            font-family: 'Bebas Neue', cursive;


        }

        .content {
            margin-top: 50px;
            letter-spacing: 1px;
        }
    }
}